@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333333;
}

.container {
  max-width: 500px;
  margin: 40px auto;
}

.title {
  text-align: center;
}

.gridbox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  margin: 2px;
  border: 2px solid #333333;
}

.cell:hover {
  border: 2px solid rgb(58, 58, 243);
}

.alive {
  background-color: #333333;
}

.alive:hover {
  border: 2px solid rgba(48, 48, 221, 0.822);
}

.buttonBar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;  
  margin-top: 40px;
  height: 80px;
}

.buttonBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 30pt;
  line-height: 80px;
}

.buttonBar button span {
  display: block;
  align-self: center;
  line-height: 1em;
}

/* .scrubberBackground {
  margin: 30px 0;
  background-color: aqua;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 20px;
  width: 100%;
} */

.rangeWrap {
  width: 100%;
  display: flex;
  position: relative;
}

#rangeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #007acc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity 2s;
  align-self: center;
  justify-self: center;
  margin-right: 3px;
}

#rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
}

#rangeSlider::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
}

.bubble {
  display: flex;
  position: absolute;
  width: 80px;
  align-self: center;
  justify-content: center;
  font-size: 24pt;
  pointer-events: none;
}

.bubble #text {
  text-align: center;
}